[project]
	description = student_library_management
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bunyenrunsan
[access "refs/for/refs/*"]
	read = group user/bunyenrunsan
	push = group user/bunyenrunsan
	label-Code-Review = -2..+2 group user/bunyenrunsan
	label-Verified = -1..+1 group user/bunyenrunsan
	rebase = group user/bunyenrunsan
	removeReviewer = group user/bunyenrunsan
	submit = group user/bunyenrunsan
[access "refs/heads/*"]
	read = group user/bunyenrunsan
	create = group user/bunyenrunsan
	push = +force group user/bunyenrunsan
	pushMerge = group user/bunyenrunsan
[access "refs/tags/*"]
	push = +force group user/bunyenrunsan
	pushTag = group user/bunyenrunsan
	pushSignedTag = group user/bunyenrunsan
